<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wsido.mapper.UserMapper">
    <!--按用户名查询User-->
    <select id="findByUsername" resultType="top.wsido.entity.User">
        select * from user where username=#{username} limit 1
    </select>

    <!--按id查询User，实际上这个User就应该是博主-->
    <select id="findById" resultType="top.wsido.entity.User">
        select * from user where id=#{id} limit 1
    </select>

    <!--按username修改-->
    <update id="updateUserByUsername">
        update user set username=#{user.username}, password=#{user.password}, update_time=now() where username=#{username}
    </update>
    
    <!--插入新用户-->
    <insert id="insertUser" parameterType="top.wsido.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password, nickname, avatar, email, create_time, update_time, role, type)
        values (#{username}, #{password}, #{nickname}, #{avatar}, #{email}, #{createTime}, #{updateTime}, #{role}, #{type})
    </insert>
    
    <!--根据ID更新用户信息-->
    <update id="updateById" parameterType="top.wsido.entity.User">
        update user
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="email != null">email = #{email},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            update_time = now()
        </set>
        where id=#{id}
    </update>
</mapper>
